extends layout

block title
  title #{title}: Easy Nixon Tapes Archive

block content
  p #{tapes.length} Results
  each tape in tapes
    a(href="/tapes/" + tape.conversationCode) #{tape.conversationCode}
    p Start Date: #{tape.startDateTime}
    p Description: #{tape.description}
