extends layout

block title
  title #{tape.conversationCode}: Easy Nixon Tapes Archive

block content
  p Conversation: #{tape.conversationCode}
  | Prev:&nbsp
  a(href=`/tapes/${tape.prevCode}`) #{tape.prevCode}
  |  Next:&nbsp
  a(href=`/tapes/${tape.nextCode}`) #{tape.nextCode}
  p Start Date: #{tape.startDateTimeMoment}
  p End Date: #{tape.endDateTimeMoment}
  p Participants:
  each participant, index in tape.participantsListFiltered
    a(href=`/tapes/?name_field=${encodeURIComponent(participant)}`) #{participant}
    if index < tape.participantsListFiltered.length - 1
      span ;&nbsp
  p Recording Device: #{tape.recordingDevice}
  if tape.tapeStart
    p Full Tape Conversation Start Time: #{tape.tapeStart}
  if tape.tapeEnd
    p Full Tape Conversation End Time: #{tape.tapeEnd}
  each file in tape.filename
    p: a(href=`https://nixon.nyc3.digitaloceanspaces.com/audio/${file}`) #{file}
    audio(controls)
      source(src=`https://nixon.nyc3.digitaloceanspaces.com/audio/${file}` type="audio/mp3")
  p NARA Description:
  p #{tape.description}
  p Nixon Library Finding Aid:
  div(id="findingaid")
    pre !{tape.findingAid}
